<!DOCTYPE html>
<html>
<head>
	<title>Html Test 2</title>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
 	<script src="app.js"></script>
 	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
 	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
<div ng-app="exply"> 


<ui-view></ui-view>




<script type="text/ng-template" id="/chatList.html">
  <div>
  	<div ng-repeat="chat in category.loggedChats">
        {{chat}}
        </div>
  </div>

</script>
<script type="text/ng-template" id="/activeChatList.html">
  <div>
  	<div ng-repeat="chat in category.activeChats">
        {{chat}}
        </div>
  </div>

</script>



<script type="text/ng-template" id="/home.html">
<div class="container" ng-controller="MainCtrl">
<div class="categories" ng-repeat="category in categories | orderBy: '-activeChatCount'">
  {{category.title}} has {{category.activeChats.length}} active chats and {{category.loggedChats.length}} logged chats.
   <!-- this is a button placeholder for testing the chat adding function in chatListCtrl -->
 <!-- <div class="button-holder" ng-controller="chatListCtrl">
<button ng-click="addChatLog()">test</button> -->
<a href="#/{{$index}}/activelist"> View active chats. </a>
<a href="#/{{$index}}/loglist"> View logged chats. </a>
</div>
</div>

</div>
</script>


</div>
</body>
</html>