<!DOCTYPE html>
<html>
<head>
	<title>Html Test 2</title>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
 	<script src="/javascripts/angularApp.js"></script>
 	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
 	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>
<body>
<div ng-app="exply"> 


<ui-view></ui-view>







<script type="text/ng-template" id="/chatList.html">
  <div>
  	<div ng-repeat="chat in category.loggedChats">
        {{chat}}
        </div>
  </div>

</script>
<script type="text/ng-template" id="/activeChatList.html">
  <div>
  	<div ng-repeat="chat in category.activeChats">
        {{chat}}
        </div>

  </div>


<script>


</script>

</script>



<script type="text/ng-template" id="/home.html">
<div class="container" ng-controller="MainCtrl">
<div class="categories" ng-repeat="category in categories | orderBy: '-activeChatCount'">
  {{category.title}} has {{category.activeChats.length}} active chats and {{category.loggedChats.length}} logged chats.
   <!-- this is a button placeholder for testing the chat adding function in chatListCtrl -->
 <!-- <div class="button-holder" ng-controller="chatListCtrl">
<button ng-click="addChatLog()">test</button> -->
<a href="#/{{$index}}/activelist"> View active chats. </a>
<a href="#/{{$index}}/loglist"> View logged chats. </a>



</div>
<div><a href="#" onclick="switchCategory('lobby')">lobby</a></di>
<div><a href="#" onclick="switchCategory('math')">math</a></di>
</div>



</div>
</script>

<!-- socket.io testing -->
<script>

 

  var socket = io.connect('http://localhost:8080');



  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
    socket.emit('adduser', prompt("What's your name?"));
  });

  // listener, whenever the server emits 'updatechat', this updates the chat body and also pushes into a temporary log
  socket.on('updatechat', function (username, data) {
    $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
  });

  // listener, whenever the server emits 'updateusers', this updates the username list
  socket.on('updateusers', function(data) {
    $('#users').empty();
    $.each(data, function(key, value) {
      $('#users').append('<div>' + key + '</div>');
    });
  });

  // listener, whenever the server emits 'updaterooms', this updates the room the client is in
  socket.on('updaterooms', function(rooms, current_room, category) {
    $('#rooms').empty();
    //console.log(category);
    
    var currentCategory = category
    $.each(rooms, function(key, value) {
     
     $.each(value, function(key,value){
      if(key === currentCategory
        ){
        $.each(value, function(key,value){
          if(value == current_room){

            $('#rooms').append('<div>' + value + '</div>');
          }
          else {
            $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
          }

        });



    };

  })

   });
    });


  function switchRoom(room){
    socket.emit('switchRoom', room);
  }

   function switchCategory(category){
    socket.emit('switchCategory', category);
  }

  // on load of page
  $(function(){
    // when the client clicks SEND
    $('#datasend').click( function() {
      var message = $('#data').val();
      $('#data').val('');
      // tell server to execute 'sendchat' and send along one parameter
      socket.emit('sendchat', message);
    });

    // when the client hits ENTER on their keyboard
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        $('#datasend').focus().click();
      }
    });
  });


</script>

<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
  <b>ROOMS</b>
  <div id="rooms"></div>
</div>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
  <b>USERS</b>
  <div id="users"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
  <div id="conversation"></div>
  <input id="data" style="width:200px;" />
  <input type="button" id="datasend" value="send" />
</div>




</div>
</body>
</html>